﻿@model WebMVCApplication.Models.TextEditor

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.EditorID)    
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryID)
        </div>
        <div>
            @Html.DropDownListFor(model => model.CategoryID, new List<SelectListItem>
            {
                new SelectListItem { Text = "Select Device", Value = "1" , Selected = true  },
                new SelectListItem { Text = "Amplifier", Value = "2" },
                new SelectListItem { Text = "Turntable", Value = "3" },
                new SelectListItem { Text = "Cartridge Turntable", Value = "4" },
                new SelectListItem { Text = "Loudspeakers", Value = "5" }
            }
            )
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreate)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </fieldset>
}

<html>
    <head>
        <meta charset="utf-8" />
        <link href="~/TextEditorContents/jquery-te-1.4.0.css" rel="stylesheet" />
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
        <script src="~/TextEditorContents/jquery-te-1.4.0.min.js"></script>
    </head>
    <body>
        <form id="frm_details" method="post" name="frm_details">           
            <br />
            <li>@Html.ActionLink("Text", "ViewLastText", "TextEditor")</li>
            <br />            
        </form>
    </body>
</html>

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Text").jqte();
        });        
    </script>
</body>
