﻿@model IEnumerable<WebMVCApplication.Models.TextEditor>

@{
    ViewBag.Title = "ViewAllText";
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditorID)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditorID)
            </td>
            <td>
                @Html.ActionLink("Text Review", "ViewTextReview", "TextEditor", new { id = item.EditorID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit", "EditText", "TextEditor", new { id = item.EditorID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", "TextEditor", new { id = item.EditorID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>


