﻿@model WebMVCApplication.Models.TextEditor

@{
    ViewBag.Title = "ViewTextReview";
}

<fieldset>
    @Html.HiddenFor(model => model.EditorID)
    <div class="display-label">
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>
    <hr />
    <div class="display-label">
        <font size="6">@Html.Raw(Model.Title)</font>
    </div>
    <br />
    <div class="display-label">
        @Html.Raw(Model.Text)
    </div>
    <br />
    <div class="display-label">
        @Html.DisplayFor(model => model.DateCreate)
    </div>
</fieldset>
<fieldset>
    <div>
        @*Html.ActionLink("Edit", "EditText", "TextEditor", new { id = Model.EditorID }, new { @class = "btn btn-primary" })*@
    </div>
</fieldset>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
