﻿@model WebMVCApplication.Models.TextEditor

<fieldset>
    @Html.HiddenFor(model => model.EditorID)
    @Html.HiddenFor(model => model.CategoryID)
    <div class="display-label">
        @{
            int caseSwitch = 1;
            switch (Model.CategoryID)
            {
                case 1:
                    @Html.Label("Select Device");
                    break;
                case 2:
                    @Html.Label("Amplifier");
                    break;
                case 3:
                    @Html.Label("Turntable");
                    break;
                case 4:
                    @Html.Label("Cartridge Turntable");
                    break;
                case 5:
                    @Html.Label("Loudspeakers");
                    break;
            }
        }
    </div>
    <hr />
    <div class="display-label">
        <font size="6">@Html.Raw(Model.Title)</font>
    </div>
    <br />
    <div class="display-label">
        @Html.Raw(Model.Text)
    </div>
    <br />
    <div class="display-label">
        @Model.DateCreate
    </div>
    <br />
        @Html.ActionLink("All Text Review", "ViewAllTextAdministration", "TextEditor", new { @class = "btn btn-primary" })
        @Html.ActionLink("Edit", "EditText", "TextEditor", new { id = Model.EditorID }, new { @class = "btn btn-primary" })
</fieldset>



