﻿@model WebMVCApplication.Models.User

@{
    ViewBag.Title = "DeleteUser";
}

<h2>DeleteUser</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.ConfirmPassword)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.ActivationCode)
        @Html.HiddenFor(model => model.ResetPasswordCode)

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ActivationCode)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ResetPasswordCode)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailVerified)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListAllUser")
        </div>
    }
</div>
