﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET HiFi Application
                            by Željko Đorđević
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HiFi Audio", "ViewAllText", "TextEditor", new { area = "" }, new { @class = "navbar-brand" })
            </div>            
        
            <div class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-collapse navbar-right">
                    <li>@Html.ActionLink("Administration", "Index", "Home")</li>
                    <li>@Html.ActionLink("All Text Review", "ViewAllText", "TextEditor")</li>
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("Register Now", "Registration", "User")</li>                   
                </ul>                
            </div>
        </div>
    </div>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - My ASP.NET HiFi Application
                by Željko Đorđević
            </p>
        </footer>
    </div>
    @*Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
