﻿@model WebMVCApplication.Models.TextEditor

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*if (User.Identity.IsAuthenticated)
                {*@
                    @Html.ActionLink("HiFi Audio", "ViewAllText", "TextEditor", new { area = "" }, new { @class = "navbar-brand" })
                @*}
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                }*@

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-collapse navbar-right">
                    <li>@Html.ActionLink("Administration", "Index", "Home")</li>
                    <li>@Html.ActionLink("All Administration Text Review", "ViewAllTextAdministration", "TextEditor")</li>
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("Register Now", "Registration", "User")</li>
                    <li>@Html.ActionLink("View Text", "ViewLastText", "TextEditor")</li>
                    <li>@Html.ActionLink("List All User", "ListAllUser", "User")</li>                    
                </ul>
            </div>
        </div>
    </div>
</body>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Welcome @HttpContext.Current.User.Identity.Name
<br />

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/TextEditorContents/jquery-te-1.4.0.css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
    <script src="~/TextEditorContents/jquery-te-1.4.0.min.js"></script>
</head>
<body>
    <form id="frm_details" method="post" name="frm_details">
        <br />
        <select class="form-control" id="dropDownList" name="DropDown">
            <option value="1" selected="true">Select Device</option>
            <option value="2">Amplifier</option>
            <option value="3">Turntable</option>
            <option value="4">Cartridge Turntable</option>
            <option value="5">Loudspeakers</option>
        </select>
        <br />
        Title:
        <br />
        <input id="Title" name="Title" placeholder="Your Title" type="text" />
        <br />
        <br />
        Review:
        <textarea id="txtArea" name="textarea"></textarea>
        Date Text:
        <br />
        <input id="dateCreate" type="date" name="DateText">
        <button id="btnSave" type="submit">Save</button>        
        <!-- <textarea id="txtArea1" style="width:100px; height:20px"></textarea><br />
    <button id="btnGet">Get</button>-->
    </form>
</body>
</html>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtArea").jqte();
        });
        
        $("#btnSave").click(function () {
            var textEditor = {
                Text: $("#txtArea").val(),
                Title: $('input[name=Title]').val(),
                CategoryID: $(document.getElementById('dropDownList')).val(),
                DateCreate: $('input[name=DateText]').val()
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/TextEditor/Save",
                traditional: true,
                data: JSON.stringify(textEditor),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var textEditor1 = jQuery.parseJSON(data);
                    if ($.trim(textEditor1.Message) != "") {
                        alert(textEditor1.Message);
                        return false;
                    }
                    alert("Saved.");
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnGet").click(function () {
            var textEditor = {};

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/TextEditor/Get",
                traditional: true,
                data: JSON.stringify(textEditor),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    var textEditor1 = jQuery.parseJSON(data);
                    if ($.trim(textEditor1.Message) != "") {
                        alert(textEditor1.Message);
                        return false;
                    }
                    $("#txtArea1").val(textEditor1.Text);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
    </script>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}